<% if players.pos.match(/P/)
  statline = "#{players.pos}, #{players.K} K, #{players.W} W, #{players.SV} SV, #{players.ERA} ERA, #{players.WHIP} WHIP"
else
  statline = "#{players.pos}, #{players.HR} HR, #{players.RBI} RBI, #{players.R} R, #{players.SB} SB, #{players.AVG} BA"
end -%>
<tr id="<%= players.id %>" class="player">
	<td><%= players.orank -%>. <strong><%= players.player -%></strong> (<%= statline -%>)</td>
	<td><img src="/images/add.png" class="addRetaineeButton"></td>
</tr>