<h1>Edit Retainees</h1>

<%#= debug(@retainees) %>

<div id="old-players" class="retaineesSelected" >
  <%= render :partial => "players", :collection => @players unless @players.nil? %>
</div>

<div id="retainees">
  <h1>Retainees</h1>
  <div id="selected" class="retaineesSelected" >
      <%= render(:partial => "selectedPlayers", :collection => @retainees) unless @retainees.nitems < 1 %>
  </div>
  <%= drop_receiving_element('selected',
    #:onDrop => "function(element) { $('selected').innerHTML = element.innerHTML; }",
    :accept => "player",
    :hoverclass => "retaineesSelectedHighlighted",
    :with   => "'id=' + (element.id.split('_').last())",
    :url => {:controller => "retainees", :action => "add_player_to_retainee_list"})
%>
</div>