<div id="retainee-instructions">
  <p>
    You may retain 3 batters and 3 pitchers from your 2008 Final Roster.
    To retain a player, drag him from your 2008 Final Roster into the 2009 Retainees box.
    Your 2008 Final Roster is sorted in Yahoo! player rank order (top ranked players at the top).
  </p>
</div>
<div id="nonRetainee">
  <h1>2008 <%= @user.team %> Final Roster</h1>
  <table id="nonRetainedPlayers" class="nonretaineeBox" >
	<thead><tr><th>Player</th><th>Button</th></tr></thead>
	<tbody>
    <%= render :partial => "players", :collection => @players unless @players.nil? %>
	</tbody>
  </table>
</div>

<div id="retainee">
  <h1>2009 Retainees</h1>
  <div id="retainedPlayers" class="retaineeBox" >
    <%= render(:partial => "selectedPlayers", :collection => @retainees) unless @retainees.nitems < 1 %>
  </div>
</div>

<div id="retaineeComplete">
	<p>
	<%= link_to("Click here to complete your retainee selection", :action => :index) %>
	</p>
</div>