<h1>All Retainees</h1>

<table style="padding:10px;" class="sortable">
  <tr>
    <th>Team</th>
    <th>Player</th>
    <th>Pos</th>
  </tr>

<% for retainee in @retainees %>
  <tr>
    <td><%=h retainee.user.team %></td>
    <td><%=h retainee.player.player %></td>
    <td><%=h retainee.player.pos %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Set Your Retainees', :action => 'edit', :id => current_user %>
