<table id="baseball-diamond" class="my-team">
  <thead>
<tr><th style="text-align:left;">Pos</th><th>Current</th><th>Needed</th></tr>
  </thead>
  <tbody>
<% requirement = {' C' => 1, '1B' => 1, '2B' => 1, 'SS' => 1, '3B' => 1, 
                  'SP' => 2, 'RP' => 2, 'P' => 7, 'OF' => 3, 'Total' => 22} %>
<% for pos in requirement.keys.sort %>
  </tr><td style="text-align:left;"><%= pos %></td>
       <% if @myTeamCount[pos] < requirement[pos] %>
          <td style="text-align:center;color: red;">
       <% else %>
          <td style="text-align:center;">
       <% end %>     
       <%= @myTeamCount[pos] %></td>
       <td style="text-align:center;"><%= requirement[pos] %></td></tr>
<% end %>
  </tbody>
</table>